<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-newsleep="{{eaten}}">
		{{#if eaten}}Ate That{{else}}Nom Nom Nom!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
